parameters:
	ignoreErrors:
		-
			message: '#^Service "Augias\\SaasBundle\\Onboarding\\Step\\AddFirstClientStep" is not registered in the container\.$#'
			identifier: symfonyContainer.serviceNotFound
			count: 2
			path: src/SaasBundle/Tests/Email/OnboardingEmailSnapshotTest.php

		-
			message: '#^Service "Augias\\SaasBundle\\Onboarding\\Step\\CustomizeLogoStep" is not registered in the container\.$#'
			identifier: symfonyContainer.serviceNotFound
			count: 2
			path: src/SaasBundle/Tests/Email/OnboardingEmailSnapshotTest.php

		-
			message: '#^Service "Augias\\SaasBundle\\Onboarding\\Step\\RecurringBillingStep" is not registered in the container\.$#'
			identifier: symfonyContainer.serviceNotFound
			count: 2
			path: src/SaasBundle/Tests/Email/OnboardingEmailSnapshotTest.php

		-
			message: '#^Service "Augias\\SaasBundle\\Onboarding\\Step\\SendFirstInvoiceStep" is not registered in the container\.$#'
			identifier: symfonyContainer.serviceNotFound
			count: 2
			path: src/SaasBundle/Tests/Email/OnboardingEmailSnapshotTest.php

		-
			message: '#^Service "Augias\\SaasBundle\\Onboarding\\Step\\TurnInvoicesIntoPaymentsStep" is not registered in the container\.$#'
			identifier: symfonyContainer.serviceNotFound
			count: 2
			path: src/SaasBundle/Tests/Email/OnboardingEmailSnapshotTest.php

		-
			message: '#^Service "Augias\\SaasBundle\\Onboarding\\Step\\WelcomeStep" is not registered in the container\.$#'
			identifier: symfonyContainer.serviceNotFound
			count: 2
			path: src/SaasBundle/Tests/Email/OnboardingEmailSnapshotTest.php
